<div class="answer answer-default">
  <div class="answer-heading">
    all answers
  </div>
  
  <div class="answer-body">
    <% @answers.each do |answer| %>
      <span class="label label-info"><%= answer.name %></span>
      <%= answer.body %>
      <br>
    <% end %>
  </div>
</div>
<%= form_for(@answer) do |f| %>
  <% if @answer.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @answer.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <span class="col-sm-2" id="basic-addon1">Name</span>
  <div class="col-sm-10" aria-describedby="basic-addon1">
  <%= f.text_field :name , placeholder: "Pepper", class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <span class="col-sm-2" id="basic-addon1">Age</span>
  <div class="col-sm-10" aria-describedby="basic-addon1">
  <%= f.text_field :age , placeholder: "29", class: "form-control" %>
</div>
</div>

<div class="form-group">
  <span class="col-sm-2" id="basic-addon1">Contents</span>
  <div class="col-sm-10" aria-describedby="basic-addon1">
  <%= f.text_area :body , placeholder: "Which carrier is the best in Japan?", class: "form-control" %>
</div>
</div>

  <div class="col-sm-offset-2 col-sm-10">
  <%= f.submit class: "btn btn-sm btn-primary" %>
  </div>

<% end %>